.kids-activities {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.act-box {
  width: 32%;
  height: 250px;
  border-radius: 15px;
  overflow: hidden;
  border: 5px solid #fcf014;
  position: relative;
  background-image: url("../images/kids/robot1.jpg");
  background-position: center;
  background-size: cover;
}

.act-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.act-box h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9999;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  padding: 1rem;
}

.act-box.box2 {
  background-image: url("../images/kids/contribute.png");
}
.act-box.box3 {
  background-image: url("../images/kids/planet.jpg");
}

.kids-pro-des {
  width: 65%;
}

.act-box.box4 {
  background-image: url("../images/kids/project1.jpeg");
}
